{% extends 'DreamHeavenAdminBundle::layout-GameMaster.html.twig' %}

{% block title %}
总览 | 后台管理
{% endblock %}

{% block main_content %}
<div class="row-fluid">
    <div class="span8">
        {{ widget('UserInfo') }}
    </div>
    <!--/span-->
</div>
{% endblock %}