{% set fluid_layout = true %}
{% extends 'DreamHeavenAdminBundle::layout-PlayerManagement.html.twig' %}

{% block title %}
角色数据修改 | 玩家管理
{% endblock %}

{% block extra_script_block %}
  <script language="javascript">
    $(document).ready(function(){
      options = {
        rules: {
            server:       "required",
            player_ids:   "user_info_valid",
            field_name:   "required",
            new_value:    "required",
            note:         { required: true, minlength: 5 }
          }
      };

      options = $.extend({}, common_validation_options, options);
      $('#data_manipulation_form').validate(options);
    });
  </script>
{% endblock %}

{% block main_content %}

  {% include('DreamHeavenAdminBundle::PlayerManagement/Player/tabs.html.twig') %}
  <div class="span8">
    <div class="row-fluid">
      <form method="POST" action="{{ path('admin_player_management_player_do_data_manipulation') }}" class="form-horizontal" id="data_manipulation_form">

        {% include('DreamHeavenAdminBundle::Shared/serverList_dropdownlist.html.twig') %}

        <div class="control-group" id="player_widget_control_group">
          <label class="control-label" for="note">选择玩家</label>
          <div class="controls">
            {% include('DreamHeavenAdminBundle::Shared/userInfoChecker.html.twig') %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="field_name">要修改的数据项</label>
          <div class="controls">
            <select name="field_name" id="field_name">
              <option value="">请选择要修改的数据项</option>
              <option value="level">角色等级 (level)</option>
              <option value="vip_level">VIP 等级 (vip_level)</option>
{#            <option value="skill_exp">技能品质(skill_exp)</option>
              <option value="force_level">技能强化等级(force_level)</option>
              <option value="swallow_level">装备吞噬等级(swallow_level)</option>
#}
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="new_value">修改成...</label>
          <div class="controls">
            <input type="text" name="new_value" id="new_value" placeholder="请输入新数值..." class="input" value="{{ new_value }}" >
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="note">操作备注(最少5个字)</label>
          <div class="controls">
            <input type="text" name="note" id="note" placeholder="请输入操作备注" class="input-xxlarge" style="width: 100%;" value="{{ note }}" >
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary confirm_required" type="submit">执行修改操作</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
