<div class="widget">
    <div class="widget-header">
        {% block widget_header %}
            <i class="icon-file"></i>
            <h3>Title</h3>
        {% endblock %}
    </div> <!-- /widget-header -->
    <div class="widget-content">
        {% block widget_body %}{% endblock %}
    </div> <!-- /widget-content -->
</div>
